
@import '../../stylus/variables.styl'

text()
  margin-top: 1rem
  h2
    font-family: Font2
    font-size: 3rem
  span
    text-shadow: 0px 0px 1px black
    color: gray
    font-family: Font2
    font-size: 1.5rem
  p
    text-shadow: 0px 0px 1px black
    color: gray
    text-align: justify
    line-height: 2rem
    font-family: Font2
    font-size: 1.28rem

.about
  margin: 0 auto
  max-width: 1200px
  &__content
    margin: 0 auto
    padding-top: 5%
    margin-bottom: 2rem
    max-width: 800px
    &--headline
      h1
        font-family: Font1
        font-size: 6rem
        letter-spacing: .5rem
        line-height: 8rem
        text-align: center
    &--text
      text()
    &--tech
      text-align: center
      text()
      &Icons
        display: grid
        grid-template-columns: repeat(6, 1fr)
        justify-items: center
        margin-top: 1rem
        margin-bottom: 1rem
        column-gap: 1rem
        row-gap: 1rem
        img
          width: 100px
          height 100px
          border-top-left-radius: 50% 50%;
          border-top-right-radius: 50% 50%;
          border-bottom-right-radius: 50% 50%;
          border-bottom-left-radius: 50% 50%;
          object-fit: contain;

@media screen and (max-width: 400px)
  .about
    &__content
      &--tech
        &Icons
          grid-template-columns: repeat(2, 1fr)

@media screen and (min-width: 400px)
  .about
    &__content
      &--tech
        &Icons
          grid-template-columns: repeat(3, 1fr)

@media screen and (max-width: 520px)
  .about
    &__content
      &--headline
        h1
          font-size: 3rem
          letter-spacing: .5rem
          line-height: 5rem
      &--text
        p
          font-size: 1rem
      &--tech
        h2
          font-size: 2rem
        span
          font-size: 1.5rem

@media screen and (min-width: 520px)
  .about
    &__content
      &--headline
        h1
          font-family: Font1
          font-size: 4.8rem
          letter-spacing: .5rem
          line-height: 8rem
      &--text
        p
      &--tech
        h2
          font-size: 3rem

@media screen and (min-width: 761px)
  .about
    &__content
      &--tech
        &Icons
          grid-template-columns: repeat(6, 1fr)

@media screen and (max-width: 1200px)
  .about
    &__content
      width: 90%