@import '../../stylus/variables.styl'

.postContainer
  margin: 0 auto
  max-width: 1200px
  .content
    margin: 0 auto
    padding-top: 10%
    margin-bottom: 2rem
    max-width: 800px
    &__headline
      h1
        font-family: Font1
        font-size: 8rem
        letter-spacing: .5rem
        line-height: 8rem
      h2
        font-family: Font2
        font-size: 3rem
      span
        text-shadow: 0px 0px 1px black
        color: gray
        font-family: Font2
        font-size: 1.5rem
    &__image
      margin-top: .5rem
      object-fit: cover
      width: 800px
      height: 400px
    &__text
      margin-top: 2rem
      p
        text-shadow: 0px 0px 1px black
        color: gray
        text-align: justify
        line-height: 2rem
        font-family: Font2
        font-size: 1.28rem

@media screen and (max-width: 520px)
  .postContainer
    .content
      &__text
        p
          font-size: 1rem

@media screen and (max-width: 761px)
  .postContainer
    .content
      &__headline
        h1
          font-size: 3rem
          line-height: 4rem
        h2
          font-size: 1.8rem
        span
          font-size: 1.2rem

@media screen and (max-width: 1200px)
  .postContainer
    width: 90%
    margin: 0 auto
    .content
      width: 100%
      &__image
        width: 100%

@media screen and (min-width: 1200px)
  .container
    width: 1200px