@import "../../stylus/variables.styl";

.menu
  transition: .3s;
  position: fixed;
  right: -520px;
  top: 20%;
  background: lightGray;
  height: 40vh;
  width: 20%;
  z-index: 11;
  font-family: Font1;
  overflow: auto;

.menu__list
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center
  flex-direction: column;

.menu__list-item
  font-size: 2rem
  padding: .4rem

.slide-left
  animation: slide-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

@keyframes slide-left
  0%
    transform: translateX(0);
  100%
    transform: translateX(-520px);

.slide-right
  animation: slide-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

@keyframes slide-right
  0%
    transform: translateX(0);
  100%
    transform: translateX(520px);

@media screen and (max-width: 500px)
  .menu
    top: 30%;
    width: 100%;
  .menu__list-item
    font-size: 2rem;

@media screen and (min-width: 501px)
  .menu
    width: 50%;
    top: 17%;

@media screen and (min-width: 700px)
  .menu
    width: 35%;
    top: 17% ;

@media screen and (min-width: 1200px)
  .menu
    width: 30%;
  .menu__list
    display: grid;
