@import "../../stylus/variables.styl";

.menu
 transition: .3s;
 position: fixed;
 right: 0;
 top: 10%;
 background: lightGray;
 height: 80%;
 width: 20%;
 z-index: 11;
 font-family: Font1; 

.menu__list
 list-style: none;
 height: 100%;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 flex-direction: column;