@import "../../stylus/variables.styl";

.menu
  transition: .3s;
  position: fixed;
  right: -200px;
  top: 10%;
  background: lightGray;
  height: 80%;
  width: 20%;
  z-index: 11;
  font-family: Font1;

.menu__list
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

.menu__list-item
  font-size: 2rem

.slide-left
  animation: slide-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

@keyframes slide-left
  0%
    transform: translateX(0);
  100%
    transform: translateX(-200px);

.slide-right
  animation: slide-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

@keyframes slide-right
  0%
    transform: translateX(0);
  100%
    transform: translateX(200px);

@media screen and (max-width: 761px)
  .menu
    width: 50%;
  .menu__list-item
    font-size: 1.5rem
@media screen and (min-width: 761px)
  .menu
    width: 30%;
@media screen and (min-width: 1200px)
  .menu
    width: 20%;
