@import '../../stylus/variables.styl'

.tag
  display: inline-block
  max-width: 100px
  border: 1px solid #36404E
  border-radius: 10px
  padding: 5px 10px
  background-color: rgba(54, 64, 78, .2)
  margin: .5rem
  &:hover
    background-color: rgba(54, 64, 78, .6)
    transition: .5s

a
  font-family: Font1
  color: black
  text-decoration: none