@import "../../stylus/variables.styl";

.masonry
  width: 1200px
  margin: 0 auto

@media screen and (max-width: 1200px)
  .masonry
    width: 97%
@media screen and (min-width: 1200px)
  .masonry
    width: 1200px
