@import "../../stylus/variables.styl"

.container
  width: 100vw
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  &__text
    font-family: Font1
    text-align: center
    color: darkGray
    font-weight: 700
    font-size: 8rem
  &__subtitle
    font-family: Font1
    text-align: center
    color: darkGray
    font-weight: 700
    font-size: 3rem


.container__animated
    animation-duration: 2.5s
    animation-fill-mode: both
    animation-iteration-count: infinite

@keyframes rubberBand
    0%
        transform: scale(1)
    30% 
        transform: scaleX(1.25) scaleY(0.75)
    40% 
        transform: scaleX(0.75) scaleY(1.25)
    60% 
        transform: scaleX(1.15) scaleY(0.85)
    100% 
        transform: scale(1)

.rubberBand
    animation-name: rubberBand