@import "../../stylus/variables.styl";

.home__hero-container
  margin: 5% auto;
  display: flex;
  justify-content: center
  max-width: 1200px;
  max-height: 50vh;
  background: rgba(0,0,0,1);
  z-index: 10;
  position: relative;
  border-radius: 5px
  &:hover
    background: linear-gradient(0deg, #08c, transparent)
    transition: .3s;

.small
  max-width: 30vw;
  max-height: 30vh;

.home__hero-figure
  z-index: -1;
  width: 100%;

.home__hero-image
  width: 100%;
  height: 100%;
  min-height: 300px
  background-size: cover;
  object-fit: cover;
  opacity: .5;
  border-radius: 5px

.home__hero-caption
  text-transform: uppercase
  position: absolute;
  bottom: 15%;
  left: 5%;
  padding-right: 5%
  color: white;
  text-shadow: 2px 3px black;
  font-family: Font1
  font-size: 4vw;
  font-weight: 800;

@media screen and (max-width: 738px)
  .home__hero-caption
    font-size: 6vw
@media screen and (min-width: 738px)
  .home__hero-caption
    font-size: 5vw
@media screen and (min-width: 1047px)
  .home__hero-caption
    font-size: 3.6vw