.home__hero-container
 margin: 5%;
 background: red;
 min-height: 50%;
 position: absolute;
 min-width: 90%;

.home__hero-figure
 width: 100%;
 height: 100%;
 position: absolute;

.home__hero-image
 width: 100%
 height: 100%

.home__hero-caption
 position: relative;
 top: 0;