@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")

// Fonts
Font1 = 'Oswald', sans-serif
Font2 = 'Roboto', sans-serif

// Colors
color_primary = #36404e
darkGray = #1C1A1A
lightGray = #2E2E32
light = #FFFFFF
back = #f2f2f2
blue = #36404E
text = #273b47;