// Import stylus variables
@import "../../stylus/variables.styl";

//styles for card component
.card
  width: 100%
  display: inline-block
  font-family: Font1
  border-radius: 5px
  overflow: hidden;
  &__content
    position: relative
    z-index: 2
    background-color: rgba(0,0,0,.8)
    border-radius: 5px
    &:hover
      cursor: pointer
      background: linear-gradient(0deg, #08c, transparent)
      transition: .3s;
    &--image
      width: 100%
      min-height: 200px
      opacity: .7
      border-radius: 5px
    &--title
      z-index: 3
      position: absolute
      bottom: 0
      padding: .9rem
      line-height: 1.1
      font-size: 2vw
      font-weight: 800
      color: white
      text-shadow: 2px 3px black;

//Media queries for responsiveness
@media screen and (max-width: 738px)
  .card
    &__content
      &--title
        font-size: 7vw
@media screen and (min-width: 738px)
  .card
    &__content
      &--title
        font-size: 3.5vw
@media screen and (min-width: 1047px)
  .card
    &__content
      &--title
        font-size: 3vh
