@import '../../globalStyles.styl'

.card
  max-width: 371px
  display: block
  font-family: Font1
  margin: 0 .8rem 1rem .8rem
  &__content
    position: relative
    z-index: 2
    background-color: black
    &--image
      max-width: 100%
      object-fit: cover
      opacity: .6
    &--title
      z-index: 3
      position: absolute
      bottom: 0
      padding: .9rem
      line-height: 1.1
      font-size: 3.3rem
      font-weight: 800
      color: white
