@import '../../globalStyles.styl'

.masonry
  width: 1200px
  margin: 0 auto

@media screen and (max-width: 480px)
  .masonry
    width: 100%
@media screen and (min-width: 481px)
  .masonry
    width: 100%
@media screen and (min-width: 1024px)
  .masonry
    width: 1200px

