header
	width: 100%
	height: 60px
	background-color:#36404e
header nav
		display: flex
		justify-content: space-between

header nav .nav-right-section
	height: auto
	display: flex
	list-style: none
	justify-content: flex-end
	align-items:center

nav .nav-right-section a
	margin-right: 10px
	text-decoration:none
	color:white
