@import "../../stylus/variables.styl";

.footer
  color: #FFFFFF
  background: linear-gradient(0deg, #4D7080, #325A6C)
  display: flex
  width: 100%
  height 300px
  flex-direction: column
  justify-content: space-evenly
  align-items: center
  bottom: 0
  margin-top: 10px
  &__social--icons
    width: 35px
    background-color: transparent
    border-radius: 30%
    padding: 4px
    border: 2px solid black
    margin: 15px 10px 0px
  &__subtitle
    display: flex
    justify-content: space-around
    font-weight: 200
    font-family: Font1
    width: 30%
    margin-bottom: 20px
    a
      text-decoration: none
      color: white
  &__subtitle h2
    font-family: Font1
    font-weight: 500
    font-size: 2rem
  &__comments
    text-align: center
    font-weight: 400
    font-family: Font2
  &__logo
    margin: 0
    width: 250px
    height: 120px
    