@import "../../stylus/variables.styl"

.searchF
  width: 95%
  margin: 0 auto
  height: 60vh
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  &__title
    font-family: Font1
    text-align: center
    color: darkGray
    font-weight: 500
    font-size: 5vw
  &__subtitle
    font-family: Font1
    text-align: center
    color: darkGray
    font-weight: 400
    font-size: 3vw

@media screen and (max-width: 1023px)
  .searchF__title
    font-size: 5vw

@media screen and (max-width: 768px)
  .searchF__title
    font-size: 6vw
  .searchF__subtitle
    font-size: 5vw

@media screen and (max-width: 480px)
  .searchF__title
    font-size: 6vw

@media screen and (max-width: 375px)
  .searchF__title
    font-size: 5vw
